<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0" />

<meta name="title" property="og:title" content="{{ title }}">
<meta name="type" property="og:type" content="website">
<meta name="image" property="og:image" content="/img/pinksmiles.png">
<meta name="url" property="og:url" content="{{ canonical_url }}">
<meta name="description" property="og:description" content="{{ title }}">

<head>
    <title>{{ title }}</title>
    <link rel="icon" href="/img/favicon.png">

    <link rel="stylesheet" type="text/css" href="/site.css">

    <script src="/code/config.js"></script>
    {% if includeScript != null %}
        <script src="{{ includeScript }}"></script>
    {% endif %}
</head>

<html lang="en">
    
    <body>
        {% render "header.liquid" %}
        
        <div class="Body">
            <div class="Body-container">
                {{ content  }}
                {% render "footer.liquid" %}
            </div>
        </div>

    </body>
</html>