---
layout: 'base.liquid'
permalink: "{{ title | handleize }}/index.html"
---

<div class="Blog-title">
    {{ title }}
</div>
<div class="Blog-date">
    {{ date | getDateString }}
</div>

{% if img != null and img != ""  %}
<div class="Blog-imageFullWidth">
    <img src="{{ img }}"></img>
</div>
{% endif %}

{{ content }}